.row {
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

div.gallery {
    margin: 5px;
    border: 2px solid white;
    height: 250px;
    width: 250px;
    float: left;
    padding-bottom: 50px;
    border-radius: 10px;
}

div.gallery:hover {
    border: 1px solid rgb(216, 179, 179);
}

div.gallery img {
    width: 100%;
    height: 95%;
}

div.desc {
    padding: 3px;
    text-align: center;
    width: 100%;
}


/* MEDIA QUERY FOR SMALL SCREEN */

@media screen and (min-width: 992px) {
    div.gallery {
        width: 250px;
    }
}

@media screen and (max-width: 992px) {
    div.gallery {
        width: 220px;
    }
}

@media screen and (max-width: 787px) {
    div.gallery {
        width: 230px;
    }
}

@media screen and (max-width: 600px) {
    div.gallery {
        width: 300px;
        margin-left: 75px;
    }
}

@media screen and (max-width: 575px) {
    div.gallery {
        width: 300px;
        margin-left: 65px;
    }
}

@media screen and (max-width: 480px) {
    div.gallery {
        width: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }
}